body
{
	background-image: url("../images/dota_nature.jpg");
	color: white;
}

div
{
	background-color: rgba(63, 191, 63, 0.6);
	border-color: white;
}

div.button
{
	text-align:center;
}

div button
{
	border-radius: 5px;
}

ul
{
	border-radius: 5px;
	background-color: rgba(63, 191, 63, 0.6);
}

.btn.inline
{
	display: inline-block;
}

.btn
{
	display: block;
}