<div class="col-md-4">
	<h3>Enclosures</h3>
	<button type="button" class="btn btn-info btn-lg"
		data-toggle="modal" data-target="#enclosureModal" ng-click="clearEnclosure()">Create New
		Enclosure</button>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#enclosureModal"
		ng-repeat="enclosure in enclosures"
		ng-click="setEnclosure(enclosure)">{{enclosure.enclosureName}}</button>
</div>
<div class="col-md-4">
	<h3>Animals</h3>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#animalModal" ng-click="clearAnimal()">Create New Animal</button>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#animalModal"
		ng-repeat="animal in animals"
		ng-click="setAnimal(animal)">{{animal.commonName}}</button>
</div>
<div class="col-md-4">
	<h3>Foods</h3>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#foodModal" ng-click="clearFood()">Create New Food</button>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#foodModal" ng-repeat="food in foods"
		ng-click="setFood(food)">{{food.foodName}}</button>
</div>

<!-- 'Create' Modal Templates -->

<div id="enclosureModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Enclosure Form</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group required">
						<!-- Enclosure Name -->
						<label for="createEnclosureName">Enclosure Name:</label> <input
							type="text" class="form-control" id="createEnclosureName"
							placeholder="Enter a name for the enclosure:"
							ng-model="enclosure.enclosureName">
					</div>
					<div class="form-group required">
						<!-- Animal Select -->
						<label for="createAnimalSelect">Animal in Enclosure:</label> <select
							class="form-control" id="createAnimalSelect"
							ng-options="animal as animal.commonName for animal in animals track by animal.animalID"
							ng-model="enclosure.animal">
						</select>
					</div>
					<div class="form-group required">
						<!-- Number in Enclosure -->
						<label for="createAnimalNumber">Number of Animals:</label> <input
							type="number" class="form-control" id="createAnimalNumber"
							placeholder="Enter the number of animals contained:"
							ng-model="enclosure.numberOfAnimals">
					</div>
					<div class="form-group required">
						<!-- Feeding Time -->
						<label for="createFeedingTime">Feeding Time:</label> <input
							type="time" class="form-control" id="createFeedingTime"
							placeholder="Enter the feeding time:"
							ng-model="enclosure.feedingTime">
					</div>
					<div class="form-group required">
						<!-- Enclosure Condition Enum -->
						<label for="createEnclosureCondition">Enclosure Condition:</label>
						<select class="form-control" id="createEnclosureCondition"
							ng-model="enclosure.enclosureCondition"
							ng-options="key as val for (key, val) in conditionOptions">
						</select>
					</div>
					<button type="submit" class="btn btn-default"
						ng-click="submitEnclosure()">Submit</button>
					<button type="button" class="btn btn-default" ng-show="enclosure.enclosureID"
						ng-click="deleteEnclosure(enclosure.enclosureID)">Delete</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="animalModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Animal Form</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group required">
						<!-- Common Name -->
						<label for="createCommonName">Common Name:</label> <input
							type="text" class="form-control" id="createCommonName"
							placeholder="Enter the common name of the animal:"
							ng-model="animal.commonName">
					</div>
					<div class="form-group required">
						<!-- Scientific Name -->
						<label for="createScientificName">Scientific name:</label> <input
							type="text" class="form-control" id="createScientificName"
							placeholder="Enter a name for the enclosure:"
							ng-model="animal.scientificName">
					</div>
					<div class="form-group required">
						<!-- Favorite Food -->
						<label for="createFavoriteFood">Favorite Food:</label> <select
							class="form-control" id="createFavoriteFood"
							ng-options="food as food.foodName for food in foods track by food.foodID"
							ng-model="animal.favoriteFood">
						</select>
					</div>
					<div class="form-group required">
						<!-- Info Link -->
						<label for="createInfoLink">Info Link:</label> <input type="text"
							class="form-control" id="createInfoLink"
							placeholder="Enter a name for the enclosure:"
							ng-model="animal.infoLink">
					</div>
					<button type="submit" class="btn btn-default"
						ng-click="submitAnimal()">Submit</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="foodModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Food Form</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group required">
						<!-- Food Name -->
						<label for="createFoodName">Food Name:</label> <input type="text"
							class="form-control" id="createFoodName"
							placeholder="Enter the name of the food:"
							ng-model="food.foodName">
					</div>
					<div class="form-group required">
						<!-- Scientific Name -->
						<label for="createVendorName">Vendor Name:</label> <input
							type="text" class="form-control" id="createVendorName"
							placeholder="Enter the vendor name:" ng-model="food.vendorName">
					</div>
					<div class="form-group required">
						<!-- Food Type Enum -->
						<label for="createFoodType">Food Type:</label> <select
							class="form-control" id="createFoodType" ng-model="food.foodType"
							ng-options="key as val for (key, val) in typeOptions">
						</select>
					</div>
					<button type="submit" class="btn btn-default"
						ng-click="submitFood()">Submit</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>